<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E10FE6BE1CCE38A7002D6BE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E10FE6D71CCE38A7002D6BE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E10FE6E21CCE38A7002D6BE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
